 ul.nav {
  width: 81%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;

 }

ul.nav li {
  width: 88%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
 }

.activetbn {
  background-color: darkseagreen;
}

.unactivebtn {
  background-color: lightgrey;
}
.Tab{  
  margin-top: 30px;
  width: 90%;
  padding-left: 5%;

  }